{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
{# Affichage des meassages s'il y en a #}
{% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}


{# TabPanel #}
<div class="container p-3 mt-3 mb-3">
    <ul class="nav nav-tabs my-5" id="myTab" role="tablist">
        <div class="deco">
            {% if is_granted('ROLE_USER') %}
            <a class="btn btn-secondary" href="{{ path('app_logout') }}">
                Déconnexion
            </a>
            {% endif %}
        </div>
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="home" aria-selected="false">
                    Mes informations
                </button>
            </li>
            <li class="nav-item" id="section-tabs-header" role="presentation">
                <button class="nav-link " id="profile-tab" data-bs-toggle="tab" data-bs-target="#liste" type="button" role="tab" aria-controls="profile" aria-selected="true">
                    Mes questions 
                </button>
            </li>
    </ul>
    <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-success mt-3" type="submit">Modifier</button>
                {{ form_end(form) }}
            </div>
            <div style="height:100px"></div>
        </div>

        
        <div class="container tab-pane fade show active" id="liste" role="tabpanel" aria-labelledby="profile-tab">   
            <div class="row">
                <div class="card" style="margin: auto; background-color: #f5f5ef; box-shadow: 5px 5px 15px rgba(0,0,0,0.9); text-align: center;">
                    {# {% if user.faq|length >0 %}
                        <a href="{{ path('faq_show', {'id': faq.id}) }}">{{user.faq.titre}}</a>
                    {% endif %} #}
                </div>
            </div>
        </div>
        <div style="height:100px"></div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
<script>


    //on verifie si il y a des objets de la classe alert dans el dom de la page à l'aide du 
    //sélecteur jQuery $("") qui comme on sélectionne une classe nous renvoie un tableau
    //dont on verifie que la longeur est >0
    if($(".alert").length>0){
        //on crée une pause avec setTimeout qui déclenchera une fonction anonyme aprés 2 seconde
        setTimeout(function(){
            //On déclanche la disparition en fondu (animation de style css ) des alerts
            //Lorsque le fondu est effectué on supprime les alerts du dom avec remove();
            $(".alert").fadeOut(500, function(){ $(".alert").remove() });
        }, 2000);
    }

    
    
</script>
{% endblock %}

