{% extends 'base-admin.html.twig' %}


{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Titre</th>
                <th>Description</th>
                <th>VideoName</th>
                {# <th>VideoSize</th>
                <th>UpdatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.titre }}</td>
                <td>{{ video.description }}</td>
                <td>
                    <video width="320" height="240" controls>
                        <source src="{{ asset('videos/' ~ video.videoName ) }}" alt="{{ video.titre }}" type="video/mp4" class="img-list-admin">
                    </video>
                </td>
                {#<td>{{ video.videoSize }}</td>
                <td>{{ video.updatedAt ? video.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>
                    <a href="{{ path('admin_video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('admin_video_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_video_new') }}">Create new</a>
{% endblock %}
