{% extends 'base-admin.html.twig' %}

{% block title %}TelephoneEtInternetAuJapon index{% endblock %}

{% block body %}
    <h1>TelephoneEtInternetAuJapon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>SousTitre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telephone_et_internet_au_japon in telephone_et_internet_au_japons %}
            <tr>
                <td>{{ telephone_et_internet_au_japon.id }}</td>
                <td>{{ telephone_et_internet_au_japon.titre }}</td>
                <td>{{ telephone_et_internet_au_japon.sousTitre }}</td>
                <td>{{ telephone_et_internet_au_japon.description }}</td>
                <td>
                    <a href="{{ path('admin_telephone_et_internet_au_japon_show', {'id': telephone_et_internet_au_japon.id}) }}">show</a>
                    <a href="{{ path('admin_telephone_et_internet_au_japon_edit', {'id': telephone_et_internet_au_japon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_telephone_et_internet_au_japon_new') }}">Create new</a>
{% endblock %}
