{% extends 'base-admin.html.twig' %}

{% block title %}AvionsEtAeroports index{% endblock %}

{% block body %}
    <h1>AvionsEtAeroports index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>SousTitre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avions_et_aeroport in avions_et_aeroports %}
            <tr>
                <td>{{ avions_et_aeroport.id }}</td>
                <td>{{ avions_et_aeroport.titre }}</td>
                <td>{{ avions_et_aeroport.sousTitre }}</td>
                <td>{{ avions_et_aeroport.description }}</td>
                <td>
                    <a href="{{ path('admin_avions_et_aeroports_show', {'id': avions_et_aeroport.id}) }}">show</a>
                    <a href="{{ path('admin_avions_et_aeroports_edit', {'id': avions_et_aeroport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_avions_et_aeroports_new') }}">Create new</a>
{% endblock %}
