{% extends 'base-admin.html.twig' %}

{% block title %}AvionsEtAeroports{% endblock %}

{% block body %}
    <h1>AvionsEtAeroports</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avions_et_aeroport.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ avions_et_aeroport.titre }}</td>
            </tr>
            <tr>
                <th>SousTitre</th>
                <td>{{ avions_et_aeroport.sousTitre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ avions_et_aeroport.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_avions_et_aeroports_index') }}">back to list</a>

    <a href="{{ path('admin_avions_et_aeroports_edit', {'id': avions_et_aeroport.id}) }}">edit</a>

    {{ include('admin_avions_et_aeroports/_delete_form.html.twig') }}
{% endblock %}
