{% extends 'base-admin.html.twig' %}


{% block title %}Hebergements index{% endblock %}

{% block body %}
    <h1>Hebergements index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>SousTitre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hebergement in hebergements %}
            <tr>
                <td>{{ hebergement.id }}</td>
                <td>{{ hebergement.titre }}</td>
                <td>{{ hebergement.sousTitre }}</td>
                <td>{{ hebergement.description }}</td>
                <td>
                    <a href="{{ path('admin_hebergements_show', {'id': hebergement.id}) }}">show</a>
                    <a href="{{ path('admin_hebergements_edit', {'id': hebergement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_hebergements_new') }}">Create new</a>
{% endblock %}
