{% extends 'base-admin.html.twig' %}


{% block title %}Hebergements{% endblock %}

{% block body %}
    <h1>Hebergements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hebergement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ hebergement.titre }}</td>
            </tr>
            <tr>
                <th>SousTitre</th>
                <td>{{ hebergement.sousTitre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hebergement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_hebergements_index') }}">back to list</a>

    <a href="{{ path('admin_hebergements_edit', {'id': hebergement.id}) }}">edit</a>

    {{ include('admin_hebergements/_delete_form.html.twig') }}
{% endblock %}
