{% extends 'base-admin.html.twig' %}

{% block title %}GuideDeVoyage index{% endblock %}

{% block body %}
    <h1>GuideDeVoyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>SousTitre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guide_de_voyage in guide_de_voyages %}
            <tr>
                <td>{{ guide_de_voyage.id }}</td>
                <td>{{ guide_de_voyage.titre }}</td>
                <td>{{ guide_de_voyage.sousTitre }}</td>
                <td>{{ guide_de_voyage.description }}</td>
                <td>
                    <a href="{{ path('admin_guide_de_voyage_show', {'id': guide_de_voyage.id}) }}">show</a>
                    <a href="{{ path('admin_guide_de_voyage_edit', {'id': guide_de_voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_guide_de_voyage_new') }}">Create new</a>
{% endblock %}
