{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
{# carousel #}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{asset('images/photoLocal/carousel/temple _of_pure.jpg')}}" class="d-block w-100" style=" height:700px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Gaijin vous aide à préparer votre</h3>
                <h1>Voyage au Japon</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{asset('images/photoLocal/carousel/image2.jpg')}}" class="d-block w-100" style=" height:700px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Gaijin vous aide à préparer votre</h3>
                <h1>Voyage au Japon</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{asset('images/photoLocal/carousel/image3.jpg')}}" class="d-block w-100" style=" height:700px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Gaijin vous aide à préparer votre</h3>
                <h1>Voyage au Japon</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{asset('images/photoLocal/carousel/shibuya.jpg')}}" class="d-block w-100" style=" height:700px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>Gaijin vous aide à préparer votre</h3>
                <h1>Voyage au Japon</h1>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
{# fin #}

{# à voir en ce moment #}
    <div class="container">
        <div class="text-center my-5">
            <img src="{{ asset('images/photoLocal/logoTitre/logo-tong.png')}}" style="width: 60px; heigth: 60px;" alt="logo-tong">
            <h2>À VOIR EN CE MOMENT AU JAPON</h2>
            <div class="separator"></div>
        </div>
        
            <div class="row">
                <div class="col-4">
                {% for home in homes %}
                {% if home.category.id == 1 %}
                    <a href="{{ path('show_contenu' , { 'id' : home.id })}}"><img src="{{ asset('images/accueil/' ~ home.imageName ) }}" style="max-width:100%"  alt="{{ home.titre }}">
                        <div class="content font-weight-bold d-flex flex-grow-1 flex-column align-content-center flex-wrap justify-content-center text-white text-center p-2 ie-flex">
                            <h3 class="title-shadow-light fs-18" style="color:black">{{ home.titre }}</h3>
                            <span class="separator mb-0"></span>
                        </div>
                    </a>
                {% endif %}
                {% endfor %}
                </div>
            </div>
    </div>

    <div class="container" style="background:#f5f5ef">
        <div class="text-center my-5">
            <img src="{{ asset('images/photoLocal/logoTitre/calendrier.png')}}" style="width: 70px; heigth: 70px;" alt="logo-tong">
            <h2>ORGANISER VOTRE VOYAGE AU JAPON</h2>
            <h3 style="color=#8a8a76">À savoir avant de partir</h3>
            <div class="separator"></div>
        </div>

        <div class="row my-3">
            <div class="col col-4">
            {% for home in homes %}
            {% if home.category.id == 2 %}
                <a href="{{ path('show_contenu' , { 'id' : home.id })}}"><img src="{{ asset('images/accueil/' ~ home.imageName ) }}" class="homepage-block-content lazy d-flex flex-grow-1" style="width:400px; heigth:400px;" alt="{{ home.titre }}">
                    <div class="content font-weight-bold d-flex flex-grow-1 flex-column align-content-center flex-wrap justify-content-center text-white text-center p-2 ie-flex">
                        <h3 class="title-shadow-light fs-18" style="color:black">{{ home.titre }}</h3>
                        <span class="separator mb-0"></span>
                    </div>
                </a>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-center my-5">
            <h4 style="color=#8a8a76">Bien choisir ses destinations</h4>
            <h2>QUE VISITER AU JAPON</h2>
            <div class="separator"></div>
        </div>
    </div>
        
    
{# fin #}
{% endblock %}
