{% extends 'base-admin.html.twig' %}

{% block title %}liste des categories{% endblock %}

{% block body %}
    <h1 class="mb-3">Liste des catégories de l'accueil</h1>

    <a class="btn-sm btn-success" href="{{ path('admin_category_home_new') }}">Nouveau</a>


    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_home in category_homes %}
            <tr>
                <td>{{ category_home.id }}</td>
                <td>{{ category_home.titre }}</td>
                <td>
                    <a class="btn-sm btn-secondary" style="color: #ECECEC" href="{{ path('admin_category_home_show', {'id': category_home.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn-sm btn-secondary" style="color: #ECECEC" href="{{ path('admin_category_home_edit', {'id': category_home.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
