{% extends 'base-admin.html.twig' %}

{% block title %}Categorie accueil{% endblock %}

{% block body %}
    <a class="btn-sm btn-secondary" href="{{ path('admin_category_home_index') }}">Retour</a>

    <h1 class="mt-3">Catégorie de l'accueil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_home.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category_home.titre }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn-sm btn-success" href="{{ path('admin_category_home_edit', {'id': category_home.id}) }}"><i class="fas fa-check"></i></a>

    {{ include('admin_categorie_home/_delete_form.html.twig') }}
{% endblock %}
