{% extends 'base-admin.html.twig' %}


{% block title %}Transports index{% endblock %}

{% block body %}
    <h1>Transports index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>SousTitre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transport in transports %}
            <tr>
                <td>{{ transport.id }}</td>
                <td>{{ transport.titre }}</td>
                <td>{{ transport.sousTitre }}</td>
                <td>{{ transport.description }}</td>
                <td>
                    <a href="{{ path('admin_transports_show', {'id': transport.id}) }}">show</a>
                    <a href="{{ path('admin_transports_edit', {'id': transport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_transports_new') }}">Create new</a>
{% endblock %}
