{% extends 'base-admin.html.twig' %}

{% block title %}liste contenus de l'accueil{% endblock %}

{% block body %}

<h1 class=" mb-3">Liste des contenus de l'accueil</h1>
<a class="btn-sm btn-success" href="{{ path('admin_contenus_accueil_new') }}">Nouveau</a>

    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Sous Titre</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenus_accueil in contenus_accueils %}
            <tr>
                <td>{{ contenus_accueil.titre }}</td>
                <td>{{ contenus_accueil.sousTitre }}</td>
                <td>{{ contenus_accueil.description|striptags|slice(0, 200) ~ '...'  }}</td>
                <td><img src="{{ asset('images/accueil/' ~ contenus_accueil.imageName ) }}" alt="{{ contenus_accueil.titre }}" class="img-list-admin"></td>
                <td>
                    <a class="btn-sm btn-secondary" style="color: #ECECEC" href="{{ path('admin_contenus_accueil_show', {'id': contenus_accueil.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn-sm btn-secondary" style="color: #ECECEC" href="{{ path('admin_contenus_accueil_edit', {'id': contenus_accueil.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
