{% extends 'base.html.twig' %}

{% block title %}ContenusAccueil{% endblock %}

{% block body %}
    <h1>ContenusAccueil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contenus_accueil.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ contenus_accueil.titre }}</td>
            </tr>
            <tr>
                <th>SousTitre</th>
                <td>{{ contenus_accueil.sousTitre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ contenus_accueil.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_contenus_accueil_index') }}">back to list</a>

    <a href="{{ path('admin_contenus_accueil_edit', {'id': contenus_accueil.id}) }}">edit</a>

    {{ include('admin_contenus_accueil/_delete_form.html.twig') }}
{% endblock %}
