{% extends 'base-admin.html.twig' %}

{% block title %}ContenusAccueil{% endblock %}

{% block body %}
    <a class="btn-sm btn-secondary" href="{{ path('admin_contenus_accueil_index') }}">Retour</a>

    <h1 class="mt-3">Le contenus de l'accueil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ contenus_accueil.titre }}</td>
            </tr>
            <tr>
                <th>Sous Titre</th>
                <td>{{ contenus_accueil.sousTitre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ contenus_accueil.description }}</td>
            </tr>
            <tr>
                <th>Page choisie</th>
                <td>{{ contenus_accueil.home.titre }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn-sm btn-success" href="{{ path('admin_contenus_accueil_edit', {'id': contenus_accueil.id}) }}"><i class="fas fa-check"></i></a>

    {{ include('admin_contenus_accueil/_delete_form.html.twig') }}
{% endblock %}
