{% extends 'base.html.twig' %}

{% block title %}
    FAQ
{% endblock %}

{% block body %}
{% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}


    <div class="container">
        <div class="text-center my-3">
            <img src="{{ asset("images/photoLocal/kotaete.png") }}" alt="logo"></a>

            <h1>
                KOTAETE : QUESTIONS-RÉPONSES SUR LE JAPON 
                            
            </h1>
            <p>
                Kotaete est notre module questions-réponses. Celui-ci vous permet de soumettre aux Kanpai-chan (la communauté Kanpai) toutes vos interrogations liées au Japon.
                                Cette section, qui agit comme un forum moderne sur le Japon, est évidemment ouverte à toutes et à tous : posez vos questions et partagez vos connaissances japonaises en répondant aux autres participant(e)s. 
                            
            </p>

            
        </div>

        <div class="container">
            <div class="row">
                <div class="col-9">
                <a href="{{ path('faq_new') }}"><button type="button" class="btn btn-dark">Poser une question</button></a>
                <hr>
                    <h2 id="titleColor">
                        Dernières questions posées
                    </h2>
                    {% for faq in faqs %}
                    <h3>
                        <a href="{{ path('faq_show', {'id': faq.id}) }}">
                            {{ faq.titre }}
                        </a>
                    </h3>

                    <p>
                        {{ faq.question }}
                    </p>
                {% endfor %}
                </div>

                <div class="col-3">    
                    <h2 id="titleColor">
                        Les questions par catégorie
                    </h2>
                    {% for categorie in categorie %}
                        <ul>
                            <li><a href="{{ path('faq_show_categorie', {'id': categorie.id}) }}">{{ categorie.titre }}</a></li>
                        </ul>
                    {% endfor %}
                
                </div>
            </div>
        </div>
    </div>
        

{% endblock %}
        
{% block javascript %}
<script>

        //on verifie si il y a des objets de la classe alert dans el dom de la page à l'aide du 
    //sélecteur jQuery $("") qui comme on sélectionne une classe nous renvoie un tableau
    //dont on verifie que la longeur est >0
    if($(".alert").length>0){
        //on crée une pause avec setTimeout qui déclenchera une fonction anonyme aprés 2 seconde
        setTimeout(function(){
            //On déclanche la disparition en fondu (animation de style css ) des alerts
            //Lorsque le fondu est effectué on supprime les alerts du dom avec remove();
            $(".alert").fadeOut(500, function(){ $(".alert").remove() });
        }, 2000);
    }
    </script>
{% endblock %}
