{% extends 'base.html.twig' %}

{% block title %} 

    {% if faq.titre is defined and faq.titre is not null %}
        {{faq.titre}}
    {% else %}
        
    {% endif %}
    
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endfor %}
    
    
            <div class="container">
                <div class="text-center my-3">
                    <img src="{{ asset("images/photoLocal/kotaete.png") }}" alt="logo"></a>
                    <h1>
                        {{ faq.titre }}
                    </h1>
                </div>

                <h4 class="text-center" style="color:#8a8a76"> {{faq.commentaires|length}} réponse</h4>
                <div class="separator mb-5"></div>

                <p>
                    {{ faq.question }}
                </p>
            </div>
            <div style="height:100px"></div>
            <div class="container">
                <div class="card " style="margin: auto; background-color: #f5f5ef; box-shadow: 5px 5px 15px rgba(0,0,0,0.9); text-align: center;">
                    <h2 class="text-center"> Les {{ faq.commentaires|length}} réponses à la quéstion posée</h2>
                    <div class="separator mb-5"></div>
                    {% for commentaire in faq.commentaires %}
                    {% if commentaire.parent == null  %}
                    
                    <h3>Réponse de {{commentaire.user.pseudo}}</h3>
                    <p style="font-size:small">Publié par {{commentaire.user.pseudo}} le {{commentaire.createdAt|date("d/m/Y H:i")}}</p>
                    
                    <div>{{commentaire.contenuscommentaire|raw}}</div>
                    <p><a href="#ajout-commentaire" data-reply data-id="{{commentaire.id}}" class="btn btn-secondary press">Répondre</a></p>
                    <div class="separator mt-5 mb-2"></div>
                    <div class="card float-right " style="width: 1200px; margin: auto; text-align: center;">
                        {# on affiche les reponses #}
                        {% for reply in commentaire.reponse %}
                            <p>Réponse publiée par {{reply.user.pseudo}} le {{reply.createdAt|date("d/m/Y H:i")}}</p>
                            <div>{{reply.contenuscommentaire|raw}}</div>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="container">
                <div style="height:100px"></div>
                <div class="col-xs2 col-sm3" id="ajout-commentaire">
                    <h3> Ajouter une réponse</h3>
                    <div>
                        <p>pseudo : {{ app.user.pseudo}}</p>
                    </div>
                    {{ form(form) }}
                </div>
            </div>
            </div>
{% endblock %}

{% block javascript %}
    <script>
        window.onload = () => {
            // on met un écouteur d'événements sur tout les bouttons répondres
            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener("click", function(){
                    document.querySelector("#commentaires_parent").value = this.dataset.id;
                });
            });
        }

        //on verifie si il y a des objets de la classe alert dans el dom de la page à l'aide du 
    //sélecteur jQuery $("") qui comme on sélectionne une classe nous renvoie un tableau
    //dont on verifie que la longeur est >0
    if($(".alert").length>0){
        //on crée une pause avec setTimeout qui déclenchera une fonction anonyme aprés 2 seconde
        setTimeout(function(){
            //On déclanche la disparition en fondu (animation de style css ) des alerts
            //Lorsque le fondu est effectué on supprime les alerts du dom avec remove();
            $(".alert").fadeOut(500, function(){ $(".alert").remove() });
        }, 2000);
    }
    </script>

{% endblock %}