{% extends 'base.html.twig' %}

{% block title %}

    {% if categorie.titre is defined and categorie.titre is not null %}
        {{ categorie.titre }}
    {% else %}
        
    {% endif %}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="text-center my-3">
            <img src="{{ asset("images/photoLocal/kotaete.png") }}" alt="logo"></a>
            <h1>
                {{ categorie.titre }}
            </h1>
        </div>
        {% for faqs in faq %}
        
    
        {% if categorie.id == faqs.categorie.id %}
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-title">
                        <h2>{{ faqs.titre }}</h2>
                    </div>
                    <div class="card-body">
                        {{ faqs.question }}
                    </div>
                </div>
            </div>
        </div>
        <div style="height:100px"></div>
        {% endif %}
{% endfor %}

    </div>
{% endblock %}
