{% extends 'base-admin.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <a class="btn-sm btn-secondary" href="{{ path('admin_category_index') }}">Retour</a>

    <h1 class="mt-3">Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category.titre }}</td>
            </tr>
            <tr>
                <th>Sous Titre</th>
                <td>{{ category.sousTitre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn-sm btn-success" href="{{ path('admin_category_edit', {'id': category.id}) }}"><i class="fas fa-check"></i></a>

    {{ include('admin_category/_delete_form.html.twig') }}
{% endblock %}
