{% extends 'base-admin.html.twig' %}

{% block title %}DecalageHoraireAuJapon{% endblock %}

{% block body %}
    <h1>DecalageHoraireAuJapon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ decalage_horaire_au_japon.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ decalage_horaire_au_japon.titre }}</td>
            </tr>
            <tr>
                <th>SousTitre</th>
                <td>{{ decalage_horaire_au_japon.sousTitre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ decalage_horaire_au_japon.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_decalage_horaire_au_japon_index') }}">back to list</a>

    <a href="{{ path('admin_decalage_horaire_au_japon_edit', {'id': decalage_horaire_au_japon.id}) }}">edit</a>

    {{ include('admin_decalage_horaire_au_japon/_delete_form.html.twig') }}
{% endblock %}
