{% extends 'base-admin.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
    <h1 class="mb-3">Liste du contenue de l'accueil</h1>

        <a class="btn-sm btn-success" href="{{ path('admin_home_new') }}">Nouveau</a>


    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Sous Titre</th>
                <th>Description</th>
                <th>Image</th>
                <th>Categories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
                <td>{{ home.titre }}</td>
                <td>{{ home.sousTitre }}</td>
                <td>{{ home.description }}</td>
                <td><img src="{{ asset('images/accueil/' ~ home.imageName ) }}" alt="{{ home.titre }}" class="img-list-admin" style=" max-width: 100px;"></td>
                <td>{{ home.category }}</td>
                <td>
                    <a class="btn-sm btn-secondary" style="color: #ECECEC" href="{{ path('admin_home_show', {'id': home.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn-sm btn-secondary ms-3" style="color: #ECECEC" href="{{ path('admin_home_edit', {'id': home.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
