{% extends 'base-admin.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
    <h1>Home index</h1>

    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Titre</th>
                <th>SousTitre</th>
                <th>Description</th>
                <th>ImageName</th>
                <th>Categories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
                <td>{{ home.titre }}</td>
                <td>{{ home.sousTitre }}</td>
                <td>{{ home.description }}</td>
                <td><img src="{{ asset('images/accueil/' ~ home.imageName ) }}" alt="{{ home.titre }}" class="img-list-admin"></td>
                <td>{{ home.category }}</td>
                <td>
                    <a href="{{ path('admin_home_show', {'id': home.id}) }}">show</a>
                    <a href="{{ path('admin_home_edit', {'id': home.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_home_new') }}">Create new</a>
{% endblock %}
