{% extends 'base-admin.html.twig' %}


{% block title %}Accueil{% endblock %}

{% block body %}
    <a class="btn-sm btn-secondary" href="{{ path('admin_home_index') }}">Retour</a>

    <h1 class="mt-3">Accueil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ home.titre }}</td>
            </tr>
            <tr>
                <th>SousTitre</th>
                <td>{{ home.sousTitre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ home.description }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ home.imageName }}</td>
            </tr>
            <tr>
                <th>ImageSize</th>
                <td>{{ home.imageSize }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ home.updatedAt ? home.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ home.category }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn-sm btn-success mb-3" href="{{ path('admin_home_edit', {'id': home.id}) }}"><i class="fas fa-check"></i>
</a>

    {{ include('admin_home/_delete_form.html.twig') }}
{% endblock %}
