{% extends 'base-admin.html.twig' %}

{% block title %}CuisineJaponaise index{% endblock %}

{% block body %}
    <h1>CuisineJaponaise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>SousTitre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cuisine_japonaise in cuisine_japonaises %}
            <tr>
                <td>{{ cuisine_japonaise.id }}</td>
                <td>{{ cuisine_japonaise.titre }}</td>
                <td>{{ cuisine_japonaise.sousTitre }}</td>
                <td>{{ cuisine_japonaise.description }}</td>
                <td>
                    <a href="{{ path('admin_cuisine_japonaise_show', {'id': cuisine_japonaise.id}) }}">show</a>
                    <a href="{{ path('admin_cuisine_japonaise_edit', {'id': cuisine_japonaise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_cuisine_japonaise_new') }}">Create new</a>
{% endblock %}
