{% extends 'base-admin.html.twig' %}

{% block title %}Contenus index{% endblock %}

{% block body %}
    <h1>Contenus index</h1>

    <table class="table" data-sorting="true" data-filtering="true" data-paging="true" data-paging-size="3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>SousTitre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenu in contenuses %}
            <tr>
                <td>{{ contenu.id }}</td>
                <td>{{ contenu.titre }}</td>
                <td>{{ contenu.sousTitre }}</td>
                <td>{{ contenu.description|striptags|slice(0, 200) ~ '...'  }}</td>
                <td>
                    <a href="{{ path('admin_contenus_show', {'id': contenu.id}) }}">show</a>
                    <a href="{{ path('admin_contenus_edit', {'id': contenu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_contenus_new') }}">Create new</a>
{% endblock %}
