<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}Gaijin{% endblock %}</title>

    </head>
</html>


<body class="sb-nav-fixed">
        
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">Tableau de Bord</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fa fa-bars"></i></button>
        <!-- Navbar Search-->
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="ms-3 text-dark" href="{{ path('app_logout') }}">Deconnexion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Accueil</div>
                        <a class="nav-link" href="{{ path('admin_dashboard') }}">
                            <div class="sb-nav-link-icon"><i class="fa fa-tachometer"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fa fa-desktop"></i></div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Authentication
                                    <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                                        <a class="nav-link" href="#">Mdp oublié</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseMemb" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Membres
                                    <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseMemb" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ path('admin_user_index', {role:'admin'}) }}">Administrateurs</a>
                                        <a class="nav-link" href="{{ path('admin_user_index', {role:'user'}) }}">Membres</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseEdit" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Editer
                                    <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseEdit" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ path('admin_home_index') }}">Accueil</a>
                                        
                                        <a class="nav-link collapsed" href="{{ path('admin_guide_de_voyage_index') }}" data-bs-toggle="collapse" data-bs-target="#pagesCollapseGuide" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                            Guide de voyage
                                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="pagesCollapseGuide" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                <a class="nav-link" href="{{ path('admin_guide_de_voyage_index') }}">Accueil guide de voyage</a>
                                                <a class="nav-link" href="{{ path('admin_hebergements_index') }}">Hébergements</a>
                                                <a class="nav-link" href="#">Transports</a>
                                                <a class="nav-link" href="#">Avions et Aeroports </a>
                                                <a class="nav-link" href="#">Budget et argent au japon</a>
                                                <a class="nav-link" href="#">Cuisine japonaise</a>
                                                <a class="nav-link" href="#">Décalage horaire</a>
                                                <a class="nav-link" href="#">Fêtes japonaises</a>
                                                <a class="nav-link" href="#">Téléphone et internet au japon</a>
                                            </nav>
                                        </div>

                                        <a class="nav-link collapsed" href="{{ path('admin_visite_au_japon_index') }}" data-bs-toggle="collapse" data-bs-target="#pagesCollapseVisite" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                            Visites au Japon
                                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="pagesCollapseVisite" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                <a class="nav-link" href="{{ path('admin_visite_au_japon_index') }}">Accueil visites au Japon</a>
                                                <a class="nav-link" href="#">Kanto</a>
                                                <a class="nav-link" href="#">Kansai</a>
                                                <a class="nav-link" href="#">Chubu</a>
                                                <a class="nav-link" href="#">Hokkaido</a>
                                                <a class="nav-link" href="#">Okinawa</a>
                                                <a class="nav-link" href="#">Kyushu</a>
                                                <a class="nav-link" href="#">Chugoku</a>
                                                <a class="nav-link" href="#">Shikoku</a>
                                                <a class="nav-link" href="#">Tohoku</a>
                                            </nav>
                                        </div>
                                        
                                        <a class="nav-link collapsed" href="{{ path('admin_societe_et_culture_index') }}" data-bs-toggle="collapse" data-bs-target="#pagesCollapseSociete" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                            Société & culture
                                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="pagesCollapseSociete" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                <a class="nav-link" href="{{ path('admin_societe_et_culture_index') }}">Accueil société & culture</a>
                                                <a class="nav-link" href="#">Visas</a>
                                                <a class="nav-link" href="#">Sortir le soir au Japon</a>
                                                <a class="nav-link" href="#">Travailler au Japon</a>
                                                <a class="nav-link" href="#">Religion et spritualité</a>
                                                <a class="nav-link" href="#">Contes et légendes</a>
                                                <a class="nav-link" href="#">Tatouages au Japon</a>
                                                <a class="nav-link" href="#">Manga</a>
                                                <a class="nav-link" href="#">Anime</a>
                                            </nav>
                                        </div>
                                        
                                        <a class="nav-link collapsed" href="{{ path('admin_communaute_gaijin_index') }}" data-bs-toggle="collapse" data-bs-target="#pagesCollapseCom" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                            Communaute Gaijin
                                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="pagesCollapseCom" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                <a class="nav-link" href="{{ path('admin_communaute_gaijin_index') }}">Accueil communaute gaijin</a>
                                                <a class="nav-link" href="#">Kotaete (questions - réponses)</a>
                                                <a class="nav-link" href="#">Isshoni (compagnons de voyage)</a>
                                                <a class="nav-link" href="#">Mon espace membre</a>
                                            </nav>
                                        </div>


                                        <a class="nav-link" href="{{ path('admin_photo_index') }}">Photos</a>
                                        <a class="nav-link" href="{{ path('admin_video_index') }}">Videos</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                    Error
                                    <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="#">401 Page</a>
                                        <a class="nav-link" href="#">403 Page</a>
                                        <a class="nav-link" href="#">404 Page</a>
                                        <a class="nav-link" href="#">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Connecté entant que:</div>
                    {% if app.user.pseudo is defined and app.user.pseudo is not null %}
                    {{ app.user.pseudo  }}
                    <img src="{{asset('images/avatars/' ~ app.user.imageName)}}" alt="{{ app.user.imageName }}" class="avatar">                                
                    {% elseif app.user.firstname is defined and app.user.firstname is not null %}
                    {{ app.user.firstname }}
                    <img src="" alt="" class="avatar">
                    {% else %}
                    {{ app.user.email }}
                    <img src="" alt="" class="avatar">
                    {% endif %}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Dashboard</h1>
                </div>
                <div class="continer-fluid mx-3">
                {% block body %}{% endblock %}
                </div>
            </main> 
            {# FOOTER #}
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
            {# FIN FOOTER #}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{asset("js/scripts.js")}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{{asset("js/datatables-simple-demo.js")}}"></script>
    {% block javascripts %}{% endblock %}

</body>


</html>

