<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
        <meta name="author" content="AdminKit">
        <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"><link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link href="{{asset('footable/css/footable.bootstrap.css')}}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/admin.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <title>
            {% block title %}
                Gaijin
            {% endblock %}
        </title>

    </head>
</html>

<body class="sb-nav-fixed">

    <div class="wrapper">

        {# sidebar #}
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{{ path('admin_dashboard') }}">
                    <img src="{{ asset ('images/mon_logo.png') }}" alt="gaijin" class="logo" style="width:30px; height:30px; border-radius:5px">
                    <span class="align-middle">
                        GAIJIN
                                            
                    </span>
                </a>

                <ul class="sidebar-nav my-2">

                    <li class="sidebar-item active my-3">
                        <a class="sidebar-link" href="{{ path('admin_dashboard') }}">
                            <i class="align-middle" data-feather="sliders"></i>
                            <span class="align-middle">
                                Accueil
                                                            
                            </span>
                        </a>
                    </li>
                    {# AUTHENTIFICATION #}
                    <li class="sidebar-item active my-3">
                        <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
                            <i class="far fa-id-card"></i>
                            <span class="align-middle">
                                Authentification
                                                            
                            </span>
                        </a>
                        <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('app_login') }}">
                                    <i class="align-middle" data-feather="briefcase"></i>
                                    <span class="align-middle">
                                        Connexion
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="#">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Mot de passe oublié
                                                                            
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {# FIN #}

                    {# MEMBRES #}
                    <li class="sidebar-item active my-3">
                        <a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="fas fa-users"></i>
                            <span class="align-middle">
                                Membres
                                                            
                            </span>
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_user_index', {role:'admin'}) }}">
                                    <i class="align-middle" data-feather="file-text"></i>
                                    <span class="align-middle">
                                        Administrateurs
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_user_index', {role:'user'}) }}">
                                    <i class="align-middle" data-feather="layers"></i>
                                    <span class="align-middle">
                                        Utilisateurs
                                                                            
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {# FIN #}

                    {# GESTION DES PAGES UTILISATEURS #}
                    <li class="sidebar-item active my-3">
                        <a href="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="fas fa-palette"></i>
                            <span class="align-middle">
                                Gestion pages Utilisateurs
                                                            
                            </span>
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_home_index') }}">
                                    <i class="align-middle" data-feather="user"></i>
                                    <span class="align-middle">
                                        Accueil
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_category_home_index') }}">
                                    <i class="align-middle" data-feather="user"></i>
                                    <span class="align-middle">
                                        Categories Accueil
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_contenus_accueil_index') }}">
                                    <i class="align-middle" data-feather="user"></i>
                                    <span class="align-middle">
                                        Contenus Accueil
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_category_index') }}">
                                    <i class="align-middle" data-feather="list"></i>
                                    <span class="align-middle">
                                        Categories des menus principaux
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_contenus_index') }}">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Categories des sous-menus
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_prefecture_index') }}">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Prefecture 
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_category_faq_index') }}">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Categories foires aux questions
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_faq_index') }}">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Contenus foires aux questions
                                                                            
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {# FIN #}

                    {# GESTION DES PHOTOS ET VIDEOS #}
                    <li class="sidebar-item active my-3">
                        <a data-bs-target="#ui" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="fas fa-folder"></i>
                            <span class="align-middle">
                                Gestion Photos / videos
                                                            
                            </span>
                        </a>
                        <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_photo_index') }}">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Gestion des photos
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('admin_video_index') }}">
                                    <i class="align-middle" data-feather="compass"></i>
                                    <span class="align-middle">
                                        Gestion des videos
                                                                            
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {# FIN #}

                    {# PAGES ERREURS #}
                    <li class="sidebar-item active my-3">
                        <a data-bs-target="#err" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="fas fa-times"></i>
                            <span class="align-middle">
                                Gestion pages erreurs
                                                            
                            </span>
                        </a>
                        <ul id="err" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="#">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Erreur 401
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="#">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Erreur 403
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="#">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Erreur 404
                                                                            
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="#">
                                    <i class="align-middle" data-feather="users"></i>
                                    <span class="align-middle">
                                        Erreur 500
                                                                            
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {# FIN #}
                </ul>
            </div>
        </nav>

        {# sidebar fin #}
        <div class="main">
            {# navbar #}

            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="bell"></i>
                                    <span class="indicator">
                                        4
                                                                            
                                    </span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                                <div class="dropdown-menu-header">
                                    Vous avez 4 Notifications
                                                                    
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-danger" data-feather="alert-circle"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">
                                                    Devis en cours
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    3
                                                                                                                                            
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    30m ago
                                                                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-warning" data-feather="bell"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">
                                                    Rappel
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    Prochaine visio a 14h
                                                                                                                                            
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    2h ago
                                                                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-primary" data-feather="home"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">
                                                    Connecté depuis
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    5h
                                                                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-success" data-feather="user-plus"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">
                                                    Nouveau Contact
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    2
                                                                                                                                            
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    Depuis derniere connection
                                                                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">
                                        Voir toutes les notifications
                                                                            
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="message-square"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
                                <div class="dropdown-menu-header">
                                    <div class="position-relative">
                                        4 Nouveaux Messages
                                                                            
                                    </div>
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src="#" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker" />
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">
                                                    Vanessa Tucker
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    Il faut verifier les feuilles d'emargement.
                                                                                                                                            
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    15m ago
                                                                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src="#" class="avatar img-fluid rounded-circle" alt="William Harris" />
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">
                                                    William Harris
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    Curabitur ligula sapien euismod vitae.
                                                                                                                                            
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    2h ago
                                                                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src="#" class="avatar img-fluid rounded-circle" alt="Christina Mason" />
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">
                                                    Christian Meneux
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    Je pars en RDV. 
                                                                                                                                            
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    4h ago
                                                                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src="#" class="avatar img-fluid rounded-circle" alt="Sharon Lessman" />
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">
                                                    Sharon Lessman
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    Merci de m'envoyer un devis au plus tôt.
                                                                                                                                            
                                                                                                    
                                                </div>
                                                <div class="text-muted small mt-1">
                                                    5h ago
                                                                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">
                                        Voir tout les messages
                                                                            
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item dropdown">
                                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                    <i class="align-middle" data-feather="settings"></i>
                                </a>

                                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                    <img src="{{ asset ('images/mon_logo.png') }}" class="avatar img-fluid rounded me-1" alt="Gaijin" />
                                    {% if app.user.pseudo is defined and app.user.pseudo is not null %}
                                    {{ app.user.pseudo  }}
                                    {# <img src="{{asset('images/avatars/' ~ app.user.imageName)}}" alt="{{ app.user.imageName }}" class="avatar">                                 #}
                                    {% elseif app.user.firstname is defined and app.user.firstname is not null %}
                                    {{ app.user.firstname }}
                                    <img src="" alt="" class="avatar">
                                    {% else %}
                                    {{ app.user.email }}
                                    <img src="" alt="" class="avatar">
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">
                                        <i class="align-middle me-1" data-feather="user"></i>
                                        Mon Compte
                                                                                                            
                                                                            
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="align-middle me-1" data-feather="pie-chart"></i>
                                        Analytics
                                                                            
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="align-middle me-1" data-feather="settings"></i>
                                        Paramètre
                                                                                                            
                                                                            
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="align-middle me-1" data-feather="help-circle"></i>
                                        Aide
                                                                                                            
                                                                            
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                                        Se Déconnecter
                                                                            
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            {# navbar login fin #}

            {# blockbody #}
            <main class="content">
                <div class="container-fluid p-0">
                    {% block body %}{% endblock %}
                </div>
            </main>
            {# blockbody fin #}
            {# footer #}
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="#" target="_blank">
                                    <strong>
                                        GAIJIN
                                                                            
                                    </strong>
                                </a>
                                &copy;
                                                                                        
                                                            
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#" target="_blank">
                                        Support
                                                                            
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#" target="_blank">
                                        Help Center
                                                                            
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#" target="_blank">
                                        Privacy
                                                                            
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#" target="_blank">
                                        Terms
                                                                            
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        {# footer fin #}
        </div>
    </div>

    {# liens JS #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset("js/scripts.js") }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{{ asset("js/datatables-simple-demo.js") }}"></script>
    <script src="{{ asset("js/app.js") }}"></script>
    <script src="{{asset('footable/js/footable.js') }}"></script>
    
{# JS Pour le rendu des tableaux #}
<script>
        jQuery(function($){
	        $('.table').footable({
                "paging": {
			    "enabled": true,
                "size": 3
		        }
            });
        });
    </script>

{% block javascripts %}{% endblock %}


</body></html>