<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Gaijin{% endblock %}</title>
    
    <!-- js -->
    <link rel="stylesheet" href="{{ asset( 'js/navbar.js') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/slate/_variables.scss">
    <link rel="stylesheet" href="https://bootswatch.com/5/slate/_bootswatch.scss">

    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset( 'css/admin.min.css') }}">
    
{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}
</head>
<body>
<a href="{{ path('home') }}"><img src="{{ asset("images/mon_logo.png") }}" alt="logo" class="logo"></a>
{# Navbar #}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col-9 ps-5" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">
                        ACCUEIL
                        <span class="visually-hidden">
                            (current)
                        </span>
                    </a>
                </li>
                {# on appel le rendu du controller #}
                {{ render(controller('App\\Controller\\CategoryController::categoryMenu')) }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('communaute') }}" role="button" aria-haspopup="true" aria-expanded="false">
                        COMMUNAUTE
                    </a>
                    {% if is_granted('ROLE_USER') %}
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('faq') }}">
                            KOTAETE (questions - réponses)
                            </a>
                            <a class="dropdown-item" href="{{ path('profile') }}">
                            MON ESPACE MEMBRE
                            </a>
                        </div>
                    {% endif %}
                </li>

            </ul>


            {# {% if is_granted('ROLE_USER') %}
            <form class="form-inline my-2 my-lg-0 ">
                <a class="btn btn-secondary" href="{{ path('app_logout') }}">
                    Déconnexion
                </a>
                {% else %}
                <a class="btn btn-secondary" href="{{ path('app_login') }}">
                    Connexion
                </a>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                <li class="nav-item text-white align-items-center d-flex ms-auto">
                    <span>Bienvenue
                    {% if app.user.pseudo is defined and app.user.pseudo is not null%}
                    {{ app.user.pseudo }}
                    {% elseif app.user.firstname is defined and app.user.firstname is not null %}
                    {{ app.user.firstname}}
                    {% else %}
                    {{ app.user.email}}
                {% endif %}
                    </span>
                </li>
                {% endif %}

                {% if not is_granted('ROLE_USER') %}
                    <a class="btn btn-secondary" href="{{ path('app_register') }}">
                        Inscription
                    </a>
                {% endif %}
            </form> #}
        </div>

        <div class="col-3 text-center me-3">
            <div class="icon1">
                <a href="{{ path('app_login') }}"><i class="fas fa-user"></i></a>
            </div>

            <div class="icon2">
                <a href="#"><i class="far fa-envelope"></i></a>
            </div>
            
            <div class="icon3">
                <a href="https://www.facebook.com/kanpai.fr"><i class="fab fa-facebook-f"></i></a>
            </div>
            
            <div class="icon4">
                <a href="https://twitter.com/KanpaiFR"><i class="fab fa-twitter"></i></a>
            </div>
            
            <div class="icon5">
                <a href="https://www.instagram.com/kanpai.fr/"><i class="fab fa-instagram"></i></a>
            </div>
            
            <div class="icon6">
                <a href="https://www.youtube.com/user/Kanpaifr"><i class="fas fa-play"></i></a>
            </div>
        </div>

    </div>
</nav>
{# Fin navbar#}
{% block body %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="{{ asset( 'js/map.js' ) }}"></script>
</body>
</html>
