<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Gaijin{% endblock %}</title>
    
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- fontgoogle -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset( 'css/style.min.css') }}">
    
    
    {# <link rel="stylesheet" href="{{ asset( 'css/styles.css') }}"> #}
    
{% block stylesheets %}{% endblock %}

</head>
<body>
    <header>
        <a href="{{ path('home') }}"><img src="{{ asset("images/mon_logo.png") }}" alt="logo" class="logo"></a>
    </header>

    {# Navbar #}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">
                            ACCUEIL
                            <span class="visually-hidden">
                                (current)
                            </span>
                        </a>
                    </li>

                    {# on appel le rendu du controller #}
                    {{ render(controller('App\\Controller\\CategoryController::categoryMenu')) }}

                    {# si on est connecter on affiche les routes dans le menus #}
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                            COMMUNAUTE
                        </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('faq') }}">
                                KOTAETE (questions - réponses)
                                </a>
                                <a class="dropdown-item" href="{{ path('profile') }}">
                                MON ESPACE MEMBRE
                                </a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                DECONNEXION
                                </a>
                            </div>
                        {% endif %}
                    </li>

                    <li class="ps-2 m-auto" style="display:inline-block;">
                        
                    
                    <!-- User -->

                        {# si on est connecter on affiche les icones dans le menus #}
                        {% if is_granted('ROLE_USER') %} 
                            <a
                                class="icon1 btn btn-primary btn-floating m-1"
                                href="{{ path('profile') }}"
                                role="button"><i class="fas fa-user"></i>
                            </a>
                        {% else %}
                            <a
                                class="icon1 btn btn-primary btn-floating m-1"
                                href="{{ path('app_login') }}"
                                role="button"><i class="fas fa-user"></i>
                            </a>
                        {% endif %}


                        <!-- liste de voyage -->

                        {# si on est connecter on affiche l'icone de la liste de voyage dans le menus #}
                        {% if is_granted('ROLE_USER') %}
                            <a
                                class="icon2 btn btn-primary btn-floating m-1"
                                href="{{path('prefecture')}}"
                                role="button"
                                ><i class="fas fa-map-marked-alt"></i>

                            </a>
                        {% endif %}

                    </li>

                </ul>
                
            </div>

        </div>
    </nav>
    {# Fin navbar#}




{% block body %}{% endblock %}



    {# debut footer #}
    <!-- Footer Menu -->
<footer style="background-color:#364449;  height: 261px;">
    <a href="{{ path('home') }}"><img src="{{ asset("images/mon_logo.png") }}" style="border-radius:50% 20% / 10% 40%" alt="logo" class="logo-footer"></a>
    <div class="footer-menu mt-2 mb-4">
    <div class="container font-weight-bold">
        <ul class="d-flex justify-content-center list-unstyled flex-wrap" style=" margin:auto;">
            <!-- Copyright -->
            <li  class="pl-2 pr-3 position-relative" style="color:#fff;"> Gaijin ©2021 -- </li>
            <!-- End Copyright -->
                <li class="pl-2 pr-3 position-relative">
                    <a href="#" style="color:#dadacb">À propos - </a>
                </li>
                <li class="pl-2 pr-3 position-relative">
                    <a href="#" style="color:#dadacb">Mentions légales - </a>
                </li>
                <li class="pl-2 pr-3 position-relative">
                    <a href="#" style="color:#dadacb">Contact - </a>
                </li>
                <li class="pl-2 pr-3 position-relative">
                    <a href="#" style="color:#dadacb">Sites amis - </a>
                </li>
                    <li class="pl-2 pr-3 position-relative">
                    <a href="#" style="color:#dadacb">Plan du site</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Footer Menu -->
    
    <!-- Footer content -->
    <div class="footer-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-18 text-center">
                    <p><a href="http://collectif-japon.fr"><img alt="Collectif Japon" data-entity-type="" data-entity-uuid="" src="{{ asset("images/collectif-japon-logo.png") }}" class="lazy" /></a></p>

    <p style="color:#fff; margin:auto"><em>Si GAIJIN vous a aidé ou renseigné d'une manière ou d'une autre, nous serions très heureux que vous partagiez le site autour de vous !</em></p>

            </div>
        </div>
    </div>
</div>
</footer>
    <!-- End Footer content -->
    </footer>
    <!--End Main footer -->
    {% block footer %}{% endblock %}

</div>

{# fin footer #}
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>



<!-- map -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<script src="{{ asset( 'js/map.js' ) }}"></script>
<script src="{{ asset("js/contenus_favoris.js") }}"></script>
<script src="{{ asset( 'js/carte_profile.js' ) }}"></script>
<!-- navbar -->
<link rel="stylesheet" href="{{ asset( 'js/navbar.js') }}">
    

<script>
    $(document).ready(function() {

    // Calculer la hauteur de <header>
    // Utilisez externalHeight() au lieu de height() si vous avez un padding
    var aboveHeight = $('header').outerHeight();

    // lors du défilement
    $(window).scroll(function(){

        // si le défilement est supérieur à la hauteur de l'en-tête
        if ($(window).scrollTop() > aboveHeight){

            // si oui, ajoutez la classe "fixe" au <nav>
            // ajouter un padding en haut au #content 
            // (la valeur est la même que la hauteur de la nav)
            $('nav').addClass('fixed').css('top','0').next().css('padding-top','0px');

        } else {

            // lorsque vous faites défiler vers le haut ou moins qu'au-dessus de la hauteur,
            // supprimer la classe "fixe", et le padding-top
            $('nav').removeClass('fixed').next().css('padding-top','0');
        }
    });
});
</script>
{% block javascripts %}{% endblock %}

</html>
