{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% if home.contenusAccueil.imageName is defined and home.contenusAccueil.imageName is not null %}
    
    
    <div class="img1">
        <img src="{{ asset('images/accueil/' ~ home.contenusAccueil.imageName ) }}" alt="{{ home.contenusAccueil.titre }}">
    </div>
    
{% else %}
    <div> <h1>coucou</h1></div>
{% endif %}
    <div class="container">
        <h1 class="text-center">
            {{ home.contenusAccueil.titre }}
        </h1>
        <h3 class="text-center" style="color:#8a8a76">
            {{ home.contenusAccueil.sousTitre }}
        </h3>
        <div class="separator"></div>
        <p>
            {{ home.contenusAccueil.description|raw }}
        </p>
    </div>
    
{% endblock %}
